{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="./index">Back</a>

      <h1 class="heading-large">
        Your details
      </h1>

      <p>You must be responsible to act on behalf of your company</p>

      <form action="./company-info" method="get" class="form">

          <div class="form-group">
            <label class="form-label-bold" for="full-name">Full name</label>
            <p class="form-hint">As shown on your birth certificate or passport</p>
            <input type="text" class="form-control" id="full-name" name="full-name">
          </div>

          <div class="form-group">
            <label class="form-label-bold" for="nino">National Insurance number</label>
            
            <input type="text" class="form-control" id="nino" name="nino">
          </div>

          <div class="form-group">
            <label class="form-label-bold" for="full-name">Email address</label>
            <p class="form-hint">This will be used to contact you</p>
            <input type="text" class="form-control" id="full-name" name="full-name">
          </div>

        <div class="form-group">
          <fieldset class="inline">

            <legend class="visuallyhidden">Are you a UK citizen?</legend>

            <label class="form-label-bold" for="company-director">Are you a UK citizen?</label>

            <label for="ukCitizenYes" class="block-label">
              <input type="radio" name="ukCitizen" value="Yes" id="ukCitizenYes">
              Yes
            </label>

            <label for="ukCitizenNo" class="block-label" data-target="why_no_non_UK_citizens">
              <input type="radio" name="ukCitizen" value="No" id="ukCitizenNo" >
              No
            </label>

            <div class="panel panel-border-narrow js-hidden" id="why_no_non_UK_citizens">
              <p>Non-UK citizens may still be able to be a sponsor, but cannot use this new version of the application. <a href="">Existing process to sponsor a worker's visa</a>.</p>
            </div>

          </fieldset>
        </div>
<!--
           <div class="form-group">
            <fieldset>
              <legend class="form-label-bold">Date of birth</legend>

              <div class="form-date">

                <p class="form-hint">For example, 31 3 1980</p>

                <div class="form-group form-group-day">
                  <label for="dob-day">Day</label>
                  <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                </div>

                <div class="form-group form-group-month">
                  <label for="dob-month">Month</label>
                  <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                </div>

                <div class="form-group form-group-year">
                  <label for="dob-year">Year</label>
                  <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
                </div>
              </div>

            </fieldset>
          </div>
-->
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
