{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="./ao-details-email">Back</a>

      <h1 class="heading-large">
        Your details
      </h1>

      <form action="./org-info" method="get" class="form">

        <div class="form-group">
          <fieldset class="inline">

            <legend class="visuallyhidden">Are you a British citizen?</legend>

            <label class="form-label-bold" for="company-director">Are you a British citizen?</label>

            <label for="ukCitizenYes" class="block-label" data-target="is-GB-citizen">
              <input type="radio" name="ukCitizen" value="Yes" id="ukCitizenYes">
              Yes
            </label>

            <label for="ukCitizenNo" class="block-label" data-target="not-GB-citizen">
              <input type="radio" name="ukCitizen" value="No" id="ukCitizenNo" >
              No
            </label>


            <div class="panel panel-border-narrow js-hidden" id="is-GB-citizen">
                  
              <div class="form-group">
                <label class="form-label-bold" for="nino">National Insurance number</label>
                
                <input type="text" class="form-control" id="nino" name="nino" length="8">
              </div>

            </div>

            <div class="panel panel-border-narrow js-hidden" id="not-GB-citizen">

              <div class="form-group">
                <label class="form-label-bold" for="nationality">Nationality</label>
                <input type="text" class="form-control" id="nationality" name="nationality">
              </div>

              <div class="form-group">
                <label class="form-label-bold" for="passport-number">Passport number</label>
                <input type="text" class="form-control" id="passport-number" name="passport-number">
              </div>

            </div>

          </fieldset>
        </div>

          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}
