{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="./index">Back</a>

      <h1 class="heading-large">
        Your details
      </h1>

      <p>You need to be authorised to act on behalf of your company</p>

      <form action="./ao-details-dob" method="get" class="form">
          
          <div class="form-group">
            <label class="form-label-bold" for="first-name">First name</label>
            <input type="text" class="form-control" id="first-name" name="first-name">
          </div>
          <div class="form-group">
            <label class="form-label-bold" for="last-name">Last name</label>
            <input type="text" class="form-control" id="last-name" name="last-name">
          </div>

          <p class="form-hint">These must be as shown on your birth certificate or passport</p>


        
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
