{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/ao-details">Back</a>

      <h1 class="heading-large">
        Basic information
      </h1>

      <p>Enter your HMRC reference and registered company number and we will retrieve your details from Companies House</p>

      <form action="/company-searchresult" method="get" class="form">

        <div class="form-group">
          <label class="form-label-bold" for="hmrc-ref">HMRC reference</label>
          <p class="form-hint">For example, HMRC123</p>
          <input type="text" class="form-control" id="hmrc-ref">
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="company-number">Company number</label>
          <p class="form-hint">For example, 100191</p>
          <input type="text" class="form-control" id="company-number">
        </div>

        <div class="form-group">
          <details role="group" >
            <summary role="button" aria-controls="details-content-0" aria-expanded="true"><span class="summary">What if I don't have a company number?</span></summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
              <p>
                If you don’t know your company number please check with the person who registered your business
              </p>
              <p>
                If you can’t provide your company number you can <a href="#">manually enter your company details</a>
              </p>
            </div>
          </details>
        </div>
<!--
          <div class="form-group">
            <label class="form-label-bold" for="company-number">Company number</label>
            <input type="text" class="form-control" id="company-number" name="company-number">
          </div>

          <div class="form-group">
            <label class="form-label-bold" for="company-ref">Company tax reference</label>
            <p class="form-hint">Your Inland Revenue reference, for eg YU18292819</p>
            <input type="text" class="form-control" id="company-ref" name="company-ref">
          </div>

          <div class="form-group">
            <label class="form-label-bold" for="company-cat">Company category</label>
            <input type="text" class="form-control" id="company-cat" name="company-cat">
          </div> -->

          <div class="form-group">
            <input type="submit" class="button" value="Search">
          </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
