{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/company-number">Back</a>

      <h1 class="heading-large">
        Your company
      </h1>

      <p>Please check this information.</p>

      <form action="/company-evidence" method="get" class="form">

        <div class="form-group">
          <label class="form-label-bold" for="company-name">Company name</label>
          <input type="text" class="form-control" id="company-name" value="ACME Widgets Co.">
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="company-address">Company address</label>
          <textarea class="form-control" id="company-address" cols="30" rows="5">20 West Street
Sheffield
S44 6YP</textarea>
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="company-director">Company director</label>
          <input type="text" class="form-control" id="company-director" name="company-director" value="Anthony Stark">
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="company-type">Company type</label>
          <input type="text" class="form-control" id="company-type" name="company-type" value="Private limited company">
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
