{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="./company-searchresult">Back</a>

      <h1 class="heading-large">
        Documents you must send
      </h1>
      <form action="./rep-check" method="get" class="form">

          <p>Based on your company type you need to provide hard copies of the following:</p>

          <ul class="list list-bullet">
            <li>Corporate business bank statement</li>
            <li>Employers liability insurance certificate</li>
            <li>Audited annual accounts</li>
            <!--<li>Governing Body Registration</li>
            <li>Franchise Agreement</li>
            <li>Digitech Declaration</li>-->
          </ul>

          <div class="panel panel-border-wide">
            <p>You must provide these by post after submitting this online application.</p>
            <p>If you don&rsquo;t provide this evidence we can&rsquo;t consider your application.</p>
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}
