{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/company-searchresult">Back</a>

      <h1 class="heading-large">
        Company evidence
      </h1>

      <p>Based on your company type you need to provide hard copies of the following:</p>

      <ul class="list list-bullet">
        <li>Document A</li>
        <li>Document B</li>
        <li>Document C</li>
        <li>Document D</li>
      </ul>

      <p>You must provide this information after submitting your application.</p>
      <!-- <p>If you can&rsquo;t provide this evidence you can't be a sponsor.</p> -->
      <div class="notice">
        <i class="icon icon-important">
          <span class="visuallyhidden">Warning</span>
        </i>
        <strong class="bold-small">
          If you can&rsquo;t provide this evidence you can&rsquo;t be a sponsor.
        </strong>
      </div>

      <p>
        <a class="button" href="rep-check" role="button">Continue</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}
