{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Application complete</h1>
        <p>
          Your reference number is <br>
          <strong class="heading-medium">HDJ2123F</strong>
        </p>
      </div>
      <p>We have sent you an email to confirm your application.</p>

      <h2 class="heading-medium">What to do next</h2>

      <p>You must send these paper documents:</p>

      <ul class="list list-bullet">
        <li>Bank statement for your business</li>
        <li>Employer's liability insurance certificate</li>
        <li>Audited annual accounts</li>
<!--        <li>Governing Body Registration</li>
        <li>Franchise Agreement</li>
        <li>Digitech Declaration</li>-->
      </ul>

      <p>These must reach us within 5 days</p>
      
      <p>Send these documents to:</p>

      <dl class="panel panel-border-narrow">
        <dt>Sponsor casework operations </dt>
        <dd>Sponsor applications team<br>
        UK Visas and Immigration<br>
        PO Box 3468<br>
        Sheffield<br>
        S3 8WA</dd>
      </dl>

      <p>You will get an email to confirm when we receive your documents.</p>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

</main>

{% endblock %}
