{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service if you want to employ workers from outside the European Economic Area (EEA).</p>


      <div class="panel panel-border-wide">
        <p>You need to be authorised to act on behalf of your company.</p>
      </div>

<!--
      <ul class="list list-bullet">
        <li>sponsor Tier 2 </li>
        <li>update your name, address or other details</li>
        <li>you need to do this in order to do something else</li>
      </uL> -->


      <p>
        <a class="button button-start" href="ao-details-name" role="button">Start now</a>
      </p>
 
      <h2 class="heading-medium">You will need</h2>

      <ul class="list-bullet">
        <li>Your identity details</li>
        <li>Detailed information about your company</li>
        <li>Information about vacancies you want to fill</li>
      </ul>

     

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Help and support</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Tier 2 guidance</a></li>
            <li><a href="#">Sponsor guidance</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
