{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/rep-check">Back</a>

      <h1 class="heading-large">
        What is your represenative&rsquo;s OISC number?
      </h1>

      <form action="/sponsor-numbers" method="get" class="form">

        <div class="form-group">
          <label class="form-label-bold visuallyhidden" for="oisc-ref">OISC reference</label>
          <p class="form-hint">Your representative should provide this to you</p>
          <input type="text" class="form-control" id="oisc-ref">
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
